Repository rometools/rome, pull requests merged in 2021-12, with the labels that each got.

#468 Georss simple module featurename
  rome-modules/src/main/java/com/rometools/modules/georss/SimpleGenerator.java
  rome-modules/src/test/java/com/rometools/modules/georss/GeoRSSModuleTest.java
Labels: feature

#499 Add support for stylesheets
  pom.xml
  rome/pom.xml
  rome/src/main/java/com/rometools/rome/io/WireFeedOutput.java
  rome/src/test/java/com/rometools/rome/unittest/FeedOpsTest.java
  rome/src/test/java/com/rometools/rome/unittest/TestOpsRSS091N.java
  rome/src/test/java/com/rometools/rome/unittest/TestOpsRSS091U.java
  rome/src/test/java/com/rometools/rome/unittest/issues/Issue88Test.java
  rome/src/test/resources/atom_0.3.xml
  rome/src/test/resources/atom_1.0.xml
  rome/src/test/resources/rss_0.9.xml
  rome/src/test/resources/rss_0.91N.xml
  rome/src/test/resources/rss_0.91U.xml
  rome/src/test/resources/rss_0.92.xml
  rome/src/test/resources/rss_0.93.xml
  rome/src/test/resources/rss_0.94.xml
  rome/src/test/resources/rss_1.0.xml
  rome/src/test/resources/rss_2.0.xml
Labels: type: enhancement, theme: rome-core

#501 Add parser logic for OPML 2.0 category
  rome-opml/src/main/java/com/rometools/opml/io/impl/OPML20Parser.java
  rome-opml/src/test/resources/opml_2.0.xml
Labels: type: enhancement, theme: rome-opml

#502 Update Java to version 11
  .github/workflows/build.yml
  .github/workflows/release.yml
  .gitignore
  pom.xml
  rome/src/test/java/com/rometools/rome/io/impl/DateParserTest.java
Labels: type: enhancement, theme: misc

#507 Add utility for correcting common URI problems
  rome-modules/src/main/java/com/rometools/modules/mediarss/io/MediaModuleParser.java
  rome-modules/src/test/java/com/rometools/modules/mediarss/MediaModuleTest.java
  rome-utils/pom.xml
  rome-utils/src/main/java/com/rometools/utils/URIs.java
  rome-utils/src/test/java/com/rometools/utils/URIsTest.java
Labels: type: enhancement, theme: rome-modules, theme: rome-utils

#508 Fix currency and price in MediaModule
  rome-modules/src/main/java/com/rometools/modules/mediarss/io/MediaModuleParser.java
  rome-modules/src/main/java/com/rometools/modules/mediarss/types/Price.java
Labels: type: enhancement, theme: rome-modules

#509 Remove unused Eclipse and Checkstyle config files
  conf/checkstyle/checkstyle.xml
  conf/eclipse/cleanup.xml
  conf/eclipse/formatter.xml
Labels: type: enhancement, theme: misc
